body {
    background: #0a0f1a;
    font-family: Arial;
    color: #fff;
}

.login-box, .create-box {
    width: 400px;
    margin: 40px auto;
    background: #111827;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #000;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    background: #1f2937;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

.nav {
    background: #111827;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.card {
    background: #1f2937;
    padding: 20px;
    width: 220px;
    border-radius: 12px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.dashboard {
    text-align: center;
    margin-top: 20px;
}

.user-list {
    width: 90%;
    margin: 20px auto;
}

.user-item {
    background: #1f2937;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 1.6;
}